<% set_title("About me") %>
<article class="about-me ovf-auto">
	<h1 class="center">
		<%= gravatar_for "memory78078@gmail.com" %>
		<span>Memory Yuan</span>
	</h1>

	<div class="intro-cnt">
		<p class="game-msg-box">No reply. It's just a siege zombie... <%= icon('sort-desc blink') %></p>
		<p>
			<ul>
				<li>專長：</li>
				<li>經歷：</li>
				<li>興趣：</li>
			</ul>
		</p>
	</div>
</article>
	
