<ul class="commonlist reply-cell" id="reply-block">
    <%= render article.replies, article: article %>
    <li class="reply-form">
        <%= render 'shared/reply_form', article: article %>
    </li>
</ul>