<div class="ovf-auto">
    <div class="col-xs-9">
        <%= link_to 'New Article', new_article_path, class: "btn btn-default btn-sm width100pa" %>
        <%= render @articles%>
        <%= will_paginate %>
    </div>
    <aside class="col-xs-3">
        <%= render 'shared/sidebar' %>
    </aside>
</div>




