<div class="ovf-auto">
    <div class="col-xs-9">
        <%= link_to 'New Article', new_article_path, class: "btn btn-default btn-sm width100pa" %>
        <%= render @articles%>
        <%= will_paginate %>
    </div>
    <aside class="col-xs-3">
        <section>
            <h4>近期文章</h4>
            <ul>
                <% @articles_recent.each do |article_rct| %>
                    <li><%= link_to article_rct.title, article_rct %></li>
                <% end %>
            </ul>
        </section>
        <div>近期迴響</div>
        <div>類別</div>
    </aside>
</div>




