@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    /*overflow-y: scroll;*/
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

a{
    &:hover{
        text-decoration: none;
    }
}

#logo {
    font-size: 2.0em;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 12px;
    font-weight: bold;
    line-height: 1;
}

.center {
    text-align: center;
}

.textright{
    text-align: right; 
}

.ovf-auto{
    overflow: auto;
}

.width100pa{
    width: 100%;
}
.checkarea{
    border: 1px solid #000;
}

.commonlist{
    list-style: none;
    margin: 0;
    padding: 0;
}

.timestamp {
    color: #AAAAAA;
}

#error_explanation {
    color: #f00;
    ul {
        list-style: none;
    }
}

.field_with_errors {
/*    @extend .control-group;*/
    @extend .has-error;
}

.search-msg {
    padding: 15px;
}

.pst-relative{
    position: relative;
}

.btn_close{
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.3;
    &:hover{
        opacity: 1;
    }
}
